
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2023/06/17/22/49/card-game-8070906_960_720.jpg);">
  <div class="container">
    <h1>GeoCode-Card-Deck</h1>
  </div>
</div>
